.button {
  display: flex;
  width: 200px;
  align-items: center;
  justify-content: center;
  font-size: 0.7rem;
  color: white;
  
  background: var(--dark-blue);
  padding: 0.2rem 1rem ;
  border-radius: 2rem;
  cursor: pointer;
}

.button > p {
  padding: 0 0.5rem;
}

.button > img {
  width: 1.5rem;
  height: 1.5rem;
}

.button > div {
  text-align: center;
  font-weight: bold;
  font-size: 0.9rem;
  background: var(--light-blue);
  width: 1.5rem;
  padding: 0.1rem 0.3rem;
  border-radius: 0.8rem;
}

