.summary-container {
  width: 100%;
  flex-grow: 1;

  display: flex;
  flex-direction: column;
  align-items: center;

  margin-top: 1.5rem;
}

.round-border {
  border-radius: 25px;
  box-shadow: 11px 10px 77px -22px rgba(66, 68, 90, 1);
}

.upper-container {
  background: white;
  color: var(--dark-blue);
  width: max(450px, 50%);
  padding: 1rem;

  margin-bottom: 1rem;
}

.upper-container > h3 {
  text-align: center;
  margin-bottom: 0.7rem;
}

.upper-container > p {
  font-size: 0.6rem;
  text-align: justify;
}

.lower-container {
  background: white;
  width: max(600px, 60%);
  padding: 0.5rem 1rem;
  padding-bottom: 1.2rem;
  display: flex;
  flex-direction: column;

}

.lower-container > ul {
  list-style-type: none;
}